
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1479282676665'); /* IE9*/
  src: url('./iconfont.eot?t=1479282676665#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1479282676665') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1479282676665') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1479282676665#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-43:before { content: "\e615"; }

.icon-msg:before { content: "\e639"; }

.icon-rili:before { content: "\e636"; }

.icon-book-1:before { content: "\e600"; }

.icon-kaoqin:before { content: "\e605"; }

.icon-tiaojianxing:before { content: "\e606"; }

.icon-dot:before { content: "\e635"; }

.icon-video:before { content: "\e642"; }

.icon-42:before { content: "\e607"; }

.icon-21:before { content: "\e608"; }

.icon-arrow-right:before { content: "\e637"; }

.icon-23:before { content: "\e632"; }

.icon-64:before { content: "\e624"; }

.icon-33:before { content: "\e60a"; }

.icon-51:before { content: "\e60c"; }

.icon-63:before { content: "\e60d"; }

.icon-22:before { content: "\e60e"; }

.icon-tiaojianxing1:before { content: "\e60f"; }

.icon-52:before { content: "\e634"; }

.icon-421:before { content: "\e610"; }

.icon-icon:before { content: "\e611"; }

.icon-72:before { content: "\e620"; }

.icon-54:before { content: "\e612"; }

.icon-rencai:before { content: "\e613"; }

.icon-24:before { content: "\e614"; }

.icon-jieshao:before { content: "\e601"; }

.icon-74:before { content: "\e62d"; }

.icon-14:before { content: "\e616"; }

.icon-62:before { content: "\e62f"; }

.icon-xinshoubidu:before { content: "\e617"; }

.icon-84:before { content: "\e62e"; }

.icon-hxzfont15:before { content: "\e609"; }

.icon-61:before { content: "\e631"; }

.icon-16pxxueyuan:before { content: "\e626"; }

.icon-44:before { content: "\e60b"; }

.icon-32:before { content: "\e630"; }

.icon-71:before { content: "\e62a"; }

.icon-53:before { content: "\e633"; }

.icon-41:before { content: "\e618"; }

.icon-12:before { content: "\e619"; }

.icon-yonghuzhuce:before { content: "\e63a"; }

.icon-34:before { content: "\e62c"; }

.icon-dangan:before { content: "\e602"; }

.icon-31:before { content: "\e61c"; }

.icon-zhuanye:before { content: "\e61a"; }

.icon-article:before { content: "\e628"; }

.icon-441:before { content: "\e629"; }

.icon-lishi:before { content: "\e61b"; }

.icon-hexinrencai:before { content: "\e61d"; }

.icon-13:before { content: "\e603"; }

.icon-73:before { content: "\e627"; }

.icon-t-pv:before { content: "\e63e"; }

.icon-82:before { content: "\e62b"; }

.icon-11:before { content: "\e604"; }

.icon-rencai1:before { content: "\e61e"; }

.icon-weixiu:before { content: "\e61f"; }

.icon-rencaiwang:before { content: "\e621"; }

.icon-t-uv:before { content: "\e63f"; }

.icon-icon1:before { content: "\e622"; }

.icon-pv:before { content: "\e63b"; }

.icon-xinshoubidu-copy:before { content: "\e623"; }

.icon-81:before { content: "\e625"; }

.icon-arrow-left:before { content: "\e638"; }

.icon-uv:before { content: "\e63c"; }

.icon-xinzengyonghu:before { content: "\e63d"; }

.icon-arrow-down:before { content: "\e640"; }

.icon-arrow-up:before { content: "\e641"; }

