@font-face {
  font-family: 'comicon';
  src:  url('fonts/comicon.eot?j673ws');
  src:  url('fonts/comicon.eot?j673ws#iefix') format('embedded-opentype'),
    url('fonts/comicon.ttf?j673ws') format('truetype'),
    url('fonts/comicon.woff?j673ws') format('woff'),
    url('fonts/comicon.svg?j673ws#comicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="comicon-"], [class*=" comicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'comicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comicon-01:before {
  content: "\e900";
}
.comicon-02:before {
  content: "\e901";
}
.comicon-03:before {
  content: "\e902";
}
.comicon-04:before {
  content: "\e903";
}
.comicon-05:before {
  content: "\e904";
}
.comicon-06:before {
  content: "\e905";
}
.comicon-07:before {
  content: "\e906";
}
.comicon-08:before {
  content: "\e907";
}
.comicon-09:before {
  content: "\e908";
}
.comicon-10:before {
  content: "\e909";
}
.comicon-11:before {
  content: "\e90a";
}
.comicon-12:before {
  content: "\e90b";
}
.comicon-13:before {
  content: "\e90c";
}
.comicon-14:before {
  content: "\e90d";
}
.comicon-15:before {
  content: "\e90e";
}
.comicon-16:before {
  content: "\e90f";
}
.comicon-17:before {
  content: "\e910";
}
.comicon-18:before {
  content: "\e911";
}
.comicon-19:before {
  content: "\e912";
}
.comicon-20:before {
  content: "\e913";
}
.comicon-21:before {
  content: "\e914";
}
.comicon-22:before {
  content: "\e915";
}
.comicon-23:before {
  content: "\e916";
}
.comicon-24:before {
  content: "\e917";
}
.comicon-25:before {
  content: "\e918";
}
.comicon-26:before {
  content: "\e919";
}
.comicon-27:before {
  content: "\e91a";
}
.comicon-28:before {
  content: "\e91b";
}
.comicon-29:before {
  content: "\e91c";
}
.comicon-30:before {
  content: "\e91d";
}
.comicon-31:before {
  content: "\e91e";
}
.comicon-32:before {
  content: "\e91f";
}

