$bg-color1:#fff;
$bg-color2:#e97190;

$txt-color1:#0f9e59;
$txt-color2:#666;
$txt-color3:#999;

$error-red:#FF5B5B;
$error-bg:#eee;

$theme-bg:$bg-color1;
$theme-color:$txt-color1;
$diabled-bg:#aaa;
/*边框颜色*/
$border-color:#dcdcdc;
/*遮罩背景色*/
$mask-bg: rgba(0,0,0,.3);

